.wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
.btnwrapper {
  display: flex;
  gap: 40px;
}
